@model TicketSystem.ViewModel.CustomerVm
@{
    int n = 1;
}

<nav class="navbar navbar-expand-sm bg-light ">

    <div class="container-fluid justify-content-end">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item me-1">
                <a class="nav-link text-white b1" asp-controller="Customer" asp-action="Create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white b1" asp-controller="Customer" asp-action="Index">All List</a>
            </li>

        </ul>
    </div>

</nav>

<div class="container mt-3">

    <table class="table table-bordered" id="myTable">
        <thead>
            <tr>
                <th>Sn</th>
                <th>Customer Group</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Pan No</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model.customers)
            {
                <tr>
                    <td>@n</td>
                    <td>@items.CustomerGroup.Name</td>
                    <td>@items.Name</td>
                    <td>@items.Email</td>
                    <td>@items.Phone</td>
                    <td>@items.Pan</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-controller="Customer" asp-route-id="@items.Id"><i class="fa fa-pencil-square-o"> Update</i></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Customer" asp-route-id="@items.Id"><i class="fa  fa-trash-o"> Delete</i></a>
                    </td>
                    @{
                        n++;
                    }

                </tr>

            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>